<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test  name="Mail">
        <groups>
            <run>
                <include name="main_test"/>
                <include name= "mail_create_test"/>
                <include name= "spam_test"/>
                <include name= "mail_sent_from_draft_test"/>
                <include name= "mail_log_out_test"/>
            </run>
        </groups>
        <classes>
            <class name="pageobject_model.test.MailruLogInTest"></class>
            <class name="pageobject_model.test.CreatingMailTest"></class>
            <class name="pageobject_model.test.SendMailFromDraftBoxTest"></class>
            <class name="pageobject_model.test.CleanSpamTest"></class>
            <class name="pageobject_model.test.LogOutTest"></class>
            <class name="pageobject_model.test.BaseTest"></class>
        </classes>
    </test>
</suite>